In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.isnull().head(20) # cette commande nous retourne lignes qui contiennent des valeurs NaN et la position de ces valeurs 
#dans le dataframe

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,False,True
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,True,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,True,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False

In [4]:
df.notnull().head(20) # cette commande nous retourne lignes qui contiennent des valeurs NaN e la position de ces valeurs 
#dans le dataframe (c'est la meme chose de la commande précédente, la différence ici c'est que les valeurs NaN sont répresentés
#par 'false')

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,True,True,True,True,True,True,True,True,True,False
1,True,True,True,True,True,True,True,True,True,False
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,False
6,True,True,True,True,True,True,True,True,True,False
7,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,False
10,True,True,True,True,True,True,True,True,True,False
11,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,False,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,False,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True

In [5]:
df.dropna().head(20) # ça nous retourne les vingt premières lignes qui n'continnent aucun NaN, avec 'dropna' on enleve les lignes qui en continnent

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0
20,21,03/12/2021,Jeffrey,Stanman,jstanmank@latimes.com,Female,3.110.64.192,France,$5.55,20.0
21,22,03/05/2021,Mendie,Ayer,mayerl@squarespace.com,Male,166.97.124.52,Canada,$4.86,20.0
22,23,03/03/2021,Muriel,Pexton,mpextonm@bing.com,Male,113.10.187.192,Canada,$6.72,20.0
27,28,03/25/2021,Staford,London,slondonr@sphinn.com,Male,247.235.26.222,United States,$3.06,20.0
29,30,03/02/2021,Edi,Petru,epetrut@census.gov,Male,117.48.20.14,United States,$6.76,20.0
30,31,03/28/2021,Tommi,Ditchburn,tditchburnu@bbc.co.uk,Female,8.92.173.38,Morocco,$7.81,20.0
31,32,03/10/2021,Jillene,Baudi,jbaudiv@gizmodo.com,Female,184.161.57.67,France,$6.02,20.0
32,33,03/29/2021,Eadmund,Laurent,elaurentw@economist.com,Male,121.149.77.253,United States,$5.00,20.0

In [6]:
df[df['tax'].isnull()] # cette commande nous retourne tous les lignes où la colunnu 'tax' contiennent un valeur manquante

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
5,6,03/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,$5.82,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
9,10,03/23/2021,Guglielma,Gookes,ggookes9@amazon.co.uk,Male,169.100.6.0,France,$9.05,NaN
...,...,...,...,...,...,...,...,...,...,...
985,986,03/29/2021,Yvonne,Longworthy,ylongworthyrd@163.com,Female,9.59.123.181,France,$9.16,NaN
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,$4.31,NaN
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN

In [7]:
df_tax_m = df[df['tax'].isnull()] # nous stockerons le résultat de commande précédent dans cette variable pour nous puissions
#continuer notre filtrage

In [8]:
df_tax_m[df_tax_m['country'].isnull()] # ici nous faisons une nouvelle filtrage sur la filtrage que nous venons de faire
#(cella sur la colunne 'tax') -> ici notre filtrage se concentre sur la colunne 'country' et nous filtrons ici aussi les
#les valeurs manquants

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
131,132,03/09/2021,Ricky,Guerra,rguerra3n@linkedin.com,Female,125.195.28.117,NaN,$8.75,NaN
210,211,03/03/2021,Merrielle,Jarret,mjarret5u@epa.gov,Male,198.67.236.57,NaN,$4.43,NaN
258,259,03/03/2021,Dasi,Babbage,dbabbage76@cnet.com,Female,179.11.213.130,NaN,$9.52,NaN
271,272,03/19/2021,Titos,Copelli,tcopelli7j@pagesperso-orange.fr,Female,134.5.236.242,NaN,$8.02,NaN
283,284,03/23/2021,Ingemar,Kropp,ikropp7v@prlog.org,NaN,206.127.209.1,NaN,$6.05,NaN
288,289,03/27/2021,Homer,Testin,htestin80@gov.uk,Male,126.20.220.131,NaN,$5.84,NaN
358,359,03/01/2021,Etan,Muller,emuller9y@army.mil,Male,199.201.224.137,NaN,$9.85,NaN
466,467,03/05/2021,Virgie,Face,vfacecy@ehow.com,Female,218.65.164.254,NaN,$6.93,NaN
587,588,03/23/2021,Xavier,Sleeford,xsleefordgb@theglobeandmail.com,Male,59.240.161.56,NaN,$9.71,NaN
590,591,03/29/2021,Bertram,Hazael,bhazaelge@apple.com,Male,105.102.117.157,NaN,$7.62,NaN
653,654,03/28/2021,Reid,Yushkin,ryushkini5@nsw.gov.au,NaN,203.130.168.200,NaN,$5.30,NaN
774,775,03/07/2021,Anastasia,Northing,anorthingli@biglobe.ne.jp,Female,226.48.46.137,NaN,$5.70,NaN
837,838,03/02/2021,Lilith,Keave,lkeaven9@chicagotribune.com,NaN,182.76.187.43,NaN,$9.01,NaN
844,845,03/30/2021,Dav,Wolstenholme,dwolstenholmeng@gravatar.com,Female,100.149.56.231,NaN,$7.12,NaN
893,894,03/13/2021,Quintin,Kettleson,qkettlesonot@studiopress.com,NaN,219.239.244.123,NaN,$8.96,NaN
905,906,03/21/2021,Aloysia,Benninger,abenningerp5@twitpic.com,Female,240.27.89.32,NaN,$3.40,NaN
930,931,03/03/2021,Tessa,Janowicz,tjanowiczpu@amazon.de,Male,54.146.6.232,NaN,$9.15,NaN
947,948,03/18/2021,Ardelia,Jaggs,ajaggsqb@sitemeter.com,Female,218.38.104.132,NaN,$5.79,NaN