In [1]:
import pandas as pd

In [10]:
dt = pd.read_csv('RAM-data-2025-10-22 09_27_03.csv')
dt_prc = pd.read_csv('Processos-data-2025-10-22 10_00_07.csv')

In [11]:
dt

                    Time Memory utilization
0    2025-10-22 07:18:00              80.3%
1    2025-10-22 07:19:00              64.5%
2    2025-10-22 07:20:00              61.7%
3    2025-10-22 07:21:00              61.8%
4    2025-10-22 07:22:00              61.8%
..                   ...                ...
124  2025-10-22 09:22:00              66.0%
125  2025-10-22 09:23:00              68.9%
126  2025-10-22 09:24:00              68.9%
127  2025-10-22 09:25:00              68.8%
128  2025-10-22 09:26:00              68.1%

[129 rows x 2 columns]

In [4]:
dt_prc

                    Time  Number of processes
0    2025-10-22 07:13:00                  107
1    2025-10-22 07:14:00                  106
2    2025-10-22 07:15:00                  106
3    2025-10-22 07:16:00                  106
4    2025-10-22 07:17:00                  106
..                   ...                  ...
162  2025-10-22 09:55:00                  102
163  2025-10-22 09:56:00                  102
164  2025-10-22 09:57:00                  104
165  2025-10-22 09:58:00                  103
166  2025-10-22 09:59:00                  102

[167 rows x 2 columns]

In [103]:
dt['Memory utilization'] = dt['Memory utilization'].str.replace('%', '').astype(float)
dt_haut = dt[dt['Memory utilization'] > 65.0]

AttributeError: Can only use .str accessor with string values!

In [104]:
dt_haut

                    Time  Memory utilization
0    2025-10-22 07:18:00                80.3
119  2025-10-22 09:17:00                68.5
120  2025-10-22 09:18:00                71.9
125  2025-10-22 09:23:00                68.9
126  2025-10-22 09:24:00                68.9
127  2025-10-22 09:25:00                68.8
128  2025-10-22 09:26:00                68.1

In [99]:
dt_haut_time = dt_haut.Time

In [100]:
dt_haut_time

0      2025-10-22 07:18:00
119    2025-10-22 09:17:00
120    2025-10-22 09:18:00
125    2025-10-22 09:23:00
126    2025-10-22 09:24:00
127    2025-10-22 09:25:00
128    2025-10-22 09:26:00
Name: Time, dtype: object

In [37]:
print(len(dt_haut_time))

7

In [53]:
timepr = []
for time in dt_haut_time:
    timepr.append(time)

In [64]:
print(type(timepr[0]))

<class 'str'>

In [65]:
print(timepr)

['2025-10-22 07:18:00', '2025-10-22 09:17:00', '2025-10-22 09:18:00', '2025-10-22 09:23:00', '2025-10-22 09:24:00', '2025-10-22 09:25:00', '2025-10-22 09:26:00']

In [82]:
ps_time = len(timepr)
for time in range(ps_time):
    print(time)

0
1
2
3
4
5
6

In [92]:
ps_time = len(timepr)
for time in range(ps_time):
    dtprocss = dt_prc[dt_prc.Time == timepr[time]]
    print(dtprocss)

                  Time  Number of processes
5  2025-10-22 07:18:00                  105
                    Time  Number of processes
124  2025-10-22 09:17:00                  103
                    Time  Number of processes
125  2025-10-22 09:18:00                  104
                    Time  Number of processes
130  2025-10-22 09:23:00                  102
                    Time  Number of processes
131  2025-10-22 09:24:00                  102
                    Time  Number of processes
132  2025-10-22 09:25:00                  102
                    Time  Number of processes
133  2025-10-22 09:26:00                  102

In [91]:
dt_haut

                    Time  Memory utilization
0    2025-10-22 07:18:00                80.3
119  2025-10-22 09:17:00                68.5
120  2025-10-22 09:18:00                71.9
125  2025-10-22 09:23:00                68.9
126  2025-10-22 09:24:00                68.9
127  2025-10-22 09:25:00                68.8
128  2025-10-22 09:26:00                68.1